body { background-color: #fff; color: #333; 
        margin: 0;
        margin-bottom: 25px;
        padding: 0;
}

body, p, ol, ul, td {
  font-family: "Lucida Grande", "Bitstream Vera Sans", verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}
body{
  	/*background-color: #f0f0f0;*/
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #005288; }
a:visited { color: #005288; }
a:hover { color: #EE2B76;}

h1 {
	font-size: 28px;
    color: #000;
}
div.field, div.actions {
  margin-bottom: 10px;
}
#page {
width: 730px;
margin-top: 10px;
margin-left: auto;
margin-right: auto;
border-radius: 10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
-moz-box-shadow:0 0 10px #BFD730;
-webkit-box-shadow:0 0 10px #BFD730;
box-shadow: 0 0 10px #BFD730;
padding: 5px;
	background-image: url(/images/bg2.png);
	background-repeat: no-repeat;
}

#content {
float: left;
/*background-color: white;*/
border-top: none;
padding: 5px;
width: 720px;
}
/*
#sidebar-left{
	width: 200px;
	position: absolute;
	top:200px;
	text-align: right;
}
*/
#sidebar {
	display: none;
}

#footer {
clear: both;
}


#header, #about, #getting-started {
	text-align:center;
}


#header {
background-repeat: no-repeat;
background-position: top left;
height: 64px;
}
#header h1, #header h2 {margin: 0}
#header h2 {
color: #888;
font-weight: normal;
font-size: 16px;
}


#about h3 {
margin: 0;
margin-bottom: 10px;
font-size: 14px;
}

#about-content {
background-color: #ffd;
border: 1px solid #fc0;
margin-left: -55px;
margin-right: -10px;
}
#about-content table {
margin-top: 10px;
margin-bottom: 10px;
font-size: 11px;
border-collapse: collapse;
}
#about-content td {
padding: 10px;
padding-top: 3px;
padding-bottom: 3px;
}
#about-content td.name  {color: #555}
#about-content td.value {color: #000}

#about-content ul {
padding: 0;
list-style-type: none;
}

#about-content.failure {
background-color: #fcc;
border: 1px solid #f00;
}
#about-content.failure p {
margin: 0;
padding: 10px;
}


#getting-started {
border-top: 1px solid #ccc;
margin-top: 25px;
padding-top: 15px;
}
#getting-started h1 {
margin: 0;
font-size: 20px;
}
#getting-started h2 {
margin: 0;
font-size: 14px;
font-weight: normal;
color: #333;
margin-bottom: 25px;
}
#getting-started ol {
margin-left: 0;
padding-left: 0;
}
#getting-started li {
font-size: 18px;
/*color: #888;*/
margin-bottom: 25px;
}
#getting-started li h2 {
margin: 0;
font-weight: normal;
/*font-size: 18px;*/
color: #333;
}
#getting-started li p {
/*color: #555;*/
/*font-size: 13px;*/
}


#sidebar ul {
margin-left: 0;
padding-left: 0;
}
#sidebar ul h3 {
margin-top: 25px;
/*font-size: 16px;*/
padding-bottom: 10px;
border-bottom: 1px solid #ccc;
}
#sidebar li {
	list-style-type: none;
}
#sidebar ul.links li {
	margin-bottom: 5px;
}
	  
#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}
#inlineAlert{
	clear:both;
}

#inlineAlert,
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
	margin-left:120px;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.main{
	margin: 10px 50px 10px 50px;
    background-color: white;
    border: 3px solid #aaa;
    border-top: none;
	padding: 10px 10px 10px 10px;
}

.navmenu{
	text-align:center;
	float:left;
	/*padding:10px 0px 20px 300px*/
}

.curvy-five {
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.faq,
.curvy-ten {
	border-radius: 20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
}


.top-line-bluegreen-five{
	background-image: url(/images/bluegreen.png);
}
	
.top-line-bluegreen-ten{
	background-image: url(/images/bluegreen-10.png);
}

.top-line-bluegreen{
	background-repeat: repeat-x;
	border-color: transparent transparent transparent transparent;
	border-width: 0px;
}

.navmenuitem{
	background-color: white;
	padding: 5px 10px 3px 10px;
	float:left;
	color: #EE2B76;
	font-size:12pt;
	text-align: center;
}
.navmenuitem a{
	text-decoration:none;
}

.section_header{
	font-size: 12pt;
	color: #EE2B76;
	margin-bottom:  5px;
}

.search{
	float:right;
	text-align: right;
	padding-right:10px;
}

.utillinks{
	position:relative;
	right:10px;	
}

illustration img{
	width: 200px;
	/*float:right;*/
}
#illustration {
	text-align:center;
}
img#tinyillustration{
	width: 30px;
}
img#tinyillustration:hover{
	width: 200px;
}

.simple_form label {
  width: 100px;
  text-align: right;
  margin: 2px 10px;
}

.simple_form div.input {
  margin-bottom: 10px;
}

.simple_form div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0;
}

.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}

.simple_form .error {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #D00;
  display: block;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #555;
  display:block;
  font-style: italic;
}

.itemid {
	font-size:18pt;
	/*float: left;*/
	width:50px;
	padding: 5px;
	border-radius: 5px;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
}
.itemContent{
	width:100%;
	text-align:center;
}
.shadow-light-green{
	-moz-box-shadow:0 0 5px #BFD730;
	-webkit-box-shadow:0 0 5px #BFD730;
	box-shadow: 0 0 5px #BFD730;
}

.misaleheader,
.activechallenge,
.closedchallenge{
	padding: 15px 5px 5px 5px;
	width:500px;
	margin-left:115px;
	background-color: #FFFFFF;
}

.faq,
.activechallenge,
.closedchallenge,
.itemid{
	background-color:#BFD730; 
}

.activechallenge,
.closedchallenge {
	border: 3px solid #FFCFC6;
}

.faq{
	color: #FFFFFF;
	margin-left:10px;
}

.challengetitle{
	margin-left: 50px;
	color:#EE2B76;
}

.challengenote{
	margin-left: 50px;
	padding: 10px 0 10px 0;
}

.comment{
	padding-left:5px;
	clear:both;
}

.inputfield{
	width:70%;
}

.geeztext{
	font-size:12pt;	
	padding-left: 10px;
	color: #005288; 
}

.headtext,
.tailtext{
	text-align: center;
	font-size: 14pt;
}

.misaleBody{
	margin: 10px 10px 0 10px;
	/*border-color: transparent #FFCFC6 #FFCFC6 #FFCFC6;
	border-style: solid;
	border-width: 1px;*/
}

.questionmark{
	padding:0 50px 0 50px;
	cursor:pointer;
}
.pagination{
	width:100%;
	text-align:center;
}

.pagination em{
	background: none repeat scroll 0 0 #99CC33;
    border-color: #99CC33;
    color: #FFFFFF;
	padding: 5px;
	border-radius: 2px;
	-moz-border-radius:2px;
    -webkit-border-radius:2px;
}
.illustrationurl{
	color: #B7B7B7;
	font-size:xx-small;
	clear:both;
}
.pagination a, 
.pagination span{
    color: #B7B7B7;
	padding: 5px;
	border-radius: 2px;
	-moz-border-radius:2px;
    -webkit-border-radius:2px;
    border: 1px solid #E1E1E1;
	text-decoration:none;
}

#socialMedia{
	float: right;
	clear:both;
}

.tweetThisContent{
	/*float:left;*/
}
.contentActionLinks{
	width: 100%;
	text-align:right;
	font-size:large;
}

.fetanHidden,
.hidden{
	display:none;
}

.fetan{
	text-decoration: underline;
	cursor:pointer;
}

#fetanGameMode{
	clear:both;
}
#fetanGameMode input{
	border: 1px solid black;
}

.comment-count-bubble {
  /*background-color:#FFEFDD;*/
  border:1px solid #005288;
  margin:0;
  padding:0px 2px 0px 5px;
  position:relative;
  font-size:10pt;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  /*-moz-box-shadow:0 0 5px #888888;
  -webkit-box-shadow:0 0 5px #888888;*/
}

.contentActionLinks a,
.comment-count-bubble a{
	text-decoration: none;
}

.comment-count-bubble-arrow {
  border-color: #005288 transparent transparent #005288;
  border-style: solid;
  border-width: 4px;
  height:0;
  width:0;
  position:absolute;
  left: 0.5px;
  bottom:-8px;
  _border-left-color: pink;
  _border-bottom-color: pink;
  _border-right-color: pink;
  _filter: chroma(color=pink);
}

.comment-bubble {
  background-color:#EDEDED;
  /*border:1px solid #AE0000;*/
  margin:15px 10px 10px 15px;
  padding:10px;
  position:relative;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  /*-moz-box-shadow:0 0 5px #888888;
  -webkit-box-shadow:0 0 5px #888888;*/
}

.comment-bubble-arrow {
  border-color: transparent transparent #EDEDED #EDEDED;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  top:-15px;
  left:30px;
  _border-left-color: pink;
  _border-bottom-color: pink;
  _border-right-color: pink;
  _filter: chroma(color=pink);
}

.next_page{
	/*float:right;*/
}
.nav_next{
  border-color: transparent transparent transparent #AE0000;
  border-style: solid;
  border-width: 10px;
  width:0;
  height:0;
}
.prev_page{
	/*float:left;*/
}
.nav_prev{
  border-color: transparent #AE0000 transparent transparent;
  border-style: solid;
  border-width: 10px;
  width:0;
  height:0;
}

.actionButton{
	border-radius: 5px;
	cursor:pointer;
	background-color: #E1E1E1;
	border: 1px solid #E1E1E1;
}

.avatar{
	border-width:3px;
	border-style: solid;
	border-radius: 5px;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
	-moz-box-shadow:0 0 5px #888888;
    -webkit-box-shadow:0 0 5px #888888;
	box-shadow: 0 0 5px #888888;
	border-color: transparent transparent transparent transparent;
	
}