<table id='currentContactDetail'>
	<tr>
		<td>
			<%= render 'contacts/fbjoin' %>
		</td>
		<td style='padding:20px'>
			<div style='background-color: white;margin-left: -10px;margin-top: 40px;padding: 5px;position: absolute;'>or</div>
			<div style='border-left: 1px solid #999999;height: 8em;margin: auto;width: 1px;'></div>
		</td>
		<td>
			<div class="input string required"><input fbKey='nickname' type="text" size="30" required="required" name="contact[nickname]" maxlength="255" id="contact[nickname]" class="string required"/><label for="contact[nickname]" class="string required"> Nickname <abbr title="required">*</abbr></label></div>
			<div class="input string tel optional"><input fbKey='phone' type="tel" size="30" name="contact[phone]" maxlength="255" id="contact[phone]" class="string tel optional"/><label for="contact[phone]" class="tel optional"> Phone</label></div>
			<div class="input string email required"><input fbKey='email' type="email" size="30" required="required" name="contact[email]" maxlength="255" id="contact[email]" class="string email required"/><label for="contact[email]" class="email required">Email <abbr title="required">*</abbr></label></div>
			<input fbKey='fbuid' type="hidden" name="contact[fbuid]" maxlength="255" id="contact[fbuid]"/>
		</td>
	</tr>
</table>