<div class="<%= challenge.status == 1 ? :activechallenge : :closedchallenge %>"">
	<div class='itemid'>#<%= challenge.id %></div>
  	<div class='geeztext challengetitle'><%= challenge.title %></div>
	<div class='geeztext challengenote'><%= challenge.note %></div>
	
	<div class='contentActionLinks'>
		<%#= link_to ApplicationHelper.get_value(:link, :link), challenge %>
	    <%#= link_to ApplicationHelper.get_value(:edit, :edit), edit_challenge_path(challenge) %>
	</div>
</div>