<h1>Listing challenges</h1>

<% @challenges.each do |challenge| %>
	<%= render :partial => 'header', :locals => {:challenge => challenge }%>
<% end %>

<br />

<%= link_to 'New Challenge', new_challenge_path %>
