<div><br/><div>
<div id="header"><h2>So who's behind Ge'ez Chewata?</h2></div>
<div id="getting-started" style='text-align:left;' class='misaleheader curvy-five shadow-light-green top-line-bluegreen top-line-bluegreen-ten'>

<P>Ge'ez Chewata is brought to you by a fun-loving team. The idea of a website with misalewoch was born in a trip from _____ to _______.  Here are some members of the team,</P>

<div style="float: left;">
<center>
<img src="/images/team/alex.png" alt="alex"><br/>
Alex<br/>
"Yetim fichiw duketun amchiw"
</center>
</div>
<div style="clear: both;"> </div>

<div style="float: right;">
<center>
<img src="/images/team/alex.png" alt="Team member 2"><br/>
Team member 2<br/>
"Yetim fichiw duketun amchiw"<br/>
</center>
</div>
<div style="clear: both;"> </div>


<div style="float: left;">
<center>
<img src="/images/team/tilish.png" alt="tilish"><br/>
Tilish<br/>
"Yetim fichiw duketun amchiw"
</center>
</div>
<div style="clear: both;"> </div>
<p/>

<div style="float: right;">
<center>
<img src="/images/team/tilish.png" alt="Team member 4"><br/>
Team member 4<br/>
"Yetim fichiw duketun amchiw"
</center>
</div>
<div style="clear: both;"> </div>

<P>And here is the laptop that was used to develop this site,</P>
<center><img src="/images/team/laptop.png" alt="laptop"/></center>

<P>To start enjoying the site go to <a href="/misales">Misalewoch</a>. Once you realize it's all a piece of cake, head on to <a href="/challenges">Wudidiroch</a> and take the test of the week! Winners are declared at the end of each Wudidir. You can check out <a href="/challenges/winners">the list</a> of previous winners.</P>

<P>We are always keen to hear about new misalewoch or your feedback on the site. Tell us what you would have liked to see by emailing to team@geezchewata.com. Kalemenager dejazmachinet yikeral!</P>

<P>Ge'ez Chewata team.</P>
