<div><br/><div>
<div id="header"><h2>So who's behind Ge'ez Chewata?</h2></div>
<div id="getting-started" style='text-align:left;' class='misaleheader curvy-five shadow-light-green top-line-bluegreen top-line-bluegreen-ten'>

<P>Ge'ez Chewata is brought to you by a fun-loving team. We were in a vacation trip when we pondered with the idea of using Amharic idioms for fun. Here are some members of the team.</P>

<div class='team-member left'>
<img src="/images/team/alex.png" alt="alex"><br/>
Alex<br/>
የትም ፍጭው ዱቄቱን አምጭው
</div>
<div style="clear: both;"> </div>

<div class='team-member right'>
Siyan<br/>
የፈሰሰ ውሃ አይታፈስም
</div>
<div style="clear: both;"> </div>

<div class='team-member left'>
<img src="/images/team/lily.png" alt="Lily"><br/>
Lily<br/>
በወጠሩት ቁና መሰፈር አይቀርም <br/>
</div>
<div style="clear: both;"> </div>

<div style="float: right;">
<center>
<img src="/images/team/tilish.png" alt="tilish"><br/>
Tilish<br/>
የትም ፍጭው ዱቄቱን አምጭው
</div>
<div style="clear: both;"> </div>

<P>And here is the laptop we used to develop geezchewata.</P>
<center><img src="/images/team/laptop.png" alt="laptop"/></center>

<P>To start enjoying the site go to <a href="/misales">ምሳሌዎች</a>.  Click on the question marks to reveal the full text. When you start feeling confident head on to <a href="/challenges">ውድድሮች</a> to reaaally test your skills!</P>

<P>We are always keen to hear from visitors of our site. If you want to give us new ምሳሌዎች, send us your feedback or just want to say "እንደምን ዋላችሁ", emails us on admin@geezchewata.com. ካለመናገር ደጃዝማችነት ይቀራል!</P>

<P>If some words in this page are not showing properly then you're probably missing the Ethiopic font we use here. You can get it from <a href="ftp://ftp.ethiopic.org/pub/fonts/TrueType/gfzemenu.ttf">here</a>.
<P>

<P>Ge'ez Chewata team.</P>
