
<a href='#' onclick='javascript:window.open(<%= "\"http://www.facebook.com/dialog/feed?app_id=#{ApplicationHelper.FB_APP_ID}&redirect_uri=#{ApplicationHelper.FB_CANVAS}/misales/#{misale.id}/fbpost&display=popup&&message=#{misale.name}\"" %>, "FBPost","height=200,width=580");return false;'>FB Post</a>