<div id='fetanGameMode'>
<a href='javascript:toggleFetan()'><%= ApplicationHelper.get_value(:fetan, 'Fetan ') %> <span style='height:5px; width:5px;color:<%= @fetan ? "green" : "red" %>;background-color:<%= @fetan ? "green" : "red" %>'>.</span></a>
</div>

	
	