<div id='fetanGameMode'>
<a href='javascript:toggleFetan()'><%= ApplicationHelper.get_value(:fetan, 'Fetan ') %> <span style='color:<%= @fetan ? "green" : "red" %>;font-family:webdings;'>&#110</span></span></a>
</div>

	
	