<div id='fetanGameMode'>
<a href='javascript:toggleFetan()'><%= ApplicationHelper.get_value(:fetan, 'Fetan ') %> <% if @fetan then %><span style="color:green">&#10004;</span><% else %><span style="color:red">&times;</span><% end %></a>
</div>

	
	