   <div>
   		<br/>
   		<br/>
   		<br/>
      <div>
        <div id="header">
          <h1>Welcome to Ge'ez games</h1>
        </div>

        <div id="getting-started" style='text-align:left;' class='misaleheader curvy-five shadow-light-green top-line-bluegreen top-line-bluegreen-ten'>
          <h1>Getting started</h1>

          <ul>
            <li>
            	<h2>
               (<%= ApplicationHelper.get_value(:geez, :geez) %>) - Do you read the word Ge'ez within the brackets? 
			  		<br/> <i>Yes.</i> - You are done with first step.
					<br/> <i>No, I see boxes.</i> - No worries, it's just that you are missing Ge'ez font from your system. Get it from <a href='ftp://ftp.ethiopic.org/pub/fonts/TrueType/gfzemenu.ttf' target='_blank'>here</a>.
			  </h2>
            </li>

            <li>
              <h2>Jump in   <a href='/challenges' class='actionButton curvy-five shadow-light-green top-line-bluegreen'><%= ApplicationHelper.get_value(:challenges, :challenges) %></a> | <a href='/misales' class='actionButton curvy-five shadow-light-green top-line-bluegreen'><%= ApplicationHelper.get_value(:misales, :misales) %></a></h2>
            </li>
          </ul>
        </div>
      </div>

      <div id="footer">
        <ul id="sidebar-items">
          <li>
            <h3>Helpful links</h3>
            <ul class="links">
              <li><a href='http://www.selamta.net/downloads.htm' target='_blank'>Ge'ez unicode fonts</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>